/* Basic reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

/* Header styles */
header {
    background-color: white;
    color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
}

.navbar .logo {
    font-size: 24px;
    font-weight: 700;
    color: black;
}

.navbar img {
    height: 100px;
    width: auto;
}

.navbar .nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.navbar .nav-links li {
    font-size: 16px;
    position: relative;
}

.navbar .nav-links a {
    text-decoration: none;
    color: black;
    position: relative;
    display: inline-block;
    padding-bottom: 5px;
}

.navbar .nav-links a:hover {
    color: grey;
}

/* Main styles */
main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
    background-color: #fff;
}

/* Contact section styles */
.contact-section {
    display: flex;
    justify-content: space-between;
    width: 80%;
    background-color: #e0e0e0;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.contact-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 45%;
}

.contact-form input, .contact-form textarea {
    background-color: #fff;
    border: 1px solid #ccc;
    color: #333;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 16px;
    border-radius: 5px;
}

.contact-form button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
    border-radius: 5px;
}

.contact-form button:hover {
    background-color: grey;
    color: #fff;
    transform: rotate(5deg);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.contact-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 45%;
    text-align: left;
}

.contact-info h1 {
    font-size: 48px;
    margin-bottom: 20px;
    color: #333;
}

.contact-info p {
    font-size: 18px;
    color: #666;
}

/* Footer styles */
footer {
    display: flex;
    justify-content: space-between;
    background-color: #333;
    padding: 20px 50px;
    color: #fff;
}

.footer-left, .footer-center, .footer-right {
    text-align: left;
}

footer p {
    margin: 5px 0;
    font-size: 14px;
    color: #fff;
}
